.schedule-sw-container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.schedule-sw-header {
  position: relative;
  width: 100%;
  height: 50px;
  background: #aa0000;
}
.schedule-sw-header-menu {
  float: left;
  width: 100px;
  height: 50px;
  background: #00aa45;
}
.schedule-sw-header-timeline {
  overflow: hidden;
  position: relative;
  margin-left: 100px;
  margin-right: 10px;
  height: 50px;
  background: #00ccaa;
}
.schedule-sw-header-dates {
  height: 40%;
  background: #3487aa;
}
.schedule-sw-header-scale {
  height: 20%;
  background: #ac58fa;
}
.schedule-sw-header-times {
  height: 40%;
  background: #3487aa;
}
.schedule-sw-body {
  position: relative;
  width: 100%;
  background: #0000aa;
}
.schedule-sw-experiments {
  float: left;
  width: 100px;
  background: #0047d3;
}
.schedule-sw-experiment {
  width: 100px;
  height: 40px;
  margin-bottom: 4px;
  background: #aa6400;
}
.schedule-sw-experiment:last-child {
  margin-bottom: 0 !important;
}
.schedule-sw-footer {
  clear: both;
  width: 100%;
  height: 10px;
  background: #00aaaa;
}
.schedule-sw-timeline-body {
  position: relative;
  overflow: hidden;
  max-width: 10000px;
  margin-left: 100px;
  background: #56227d;
}
.schedule-sw-scroll {
  position: relative;
}
.schedule-sw-timeline-border-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #56dd7d;
}
.schedule-sw-timelines {
  margin-right: 10px;
  background: #ac84cc;
}
.schedule-sw-timeline {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 4px;
  background: #ff84cc;
}
.schedule-sw-timeline:last-child {
  margin-bottom: 0 !important;
}
.schedule-sw-visit {
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: solid 2px #ff0000;
  background: #ffff00;
}
.schedule-sw-time-marker {
  position: absolute;
  width: 2px;
  bottom: 0;
  top: 0;
  background: #000000;
}
