.schedule-sw-container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.schedule-sw-body {
  position: relative;
  width: 100%;
  background: #ffffff;
}
.schedule-sw-footer {
  clear: both;
  width: 100%;
  border-top: solid 2px #6d6d6d;
  height: 30px;
  background: #f5f5f5;
}
.schedule-sw-header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #fafafa;
}
.schedule-sw-header-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 60px;
  -webkit-box-shadow: 2px 0px 2px 0 #fafafa;
  -moz-box-shadow: 2px 0px 2px 0 #fafafa;
  box-shadow: 2px 0px 2px 0 #fafafa;
  background: #fafafa;
}
.schedule-sw-header-timeline-body {
  overflow: hidden;
  position: relative;
  margin-left: 150px;
  margin-right: 10px;
  height: 60px;
  background: #ffffff;
}
.schedule-sw-header-timline-horzline {
  margin-top: 30px;
  background: #6d6d6d;
  height: 1px;
}
.schedule-sw-header-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.schedule-sw-header-times-item {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 60px;
  display: inline;
  border-left: 1px solid #6d6d6d;
}
.schedule-sw-header-dates {
  position: absolute;
  top: 0;
  margin-left: -10px;
  padding-top: 2px;
  padding-bottom: 1px;
  width: 20px;
  background: #ffffff;
  font-size: 14px;
}
.schedule-sw-header-times {
  position: absolute;
  bottom: 0;
  margin-left: -10px;
  padding-top: 1px;
  padding-bottom: 2px;
  background: #ffffff;
  font-size: 12px;
}
.schedule-sw-experiments {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  -webkit-box-shadow: 4px 0px 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 0px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 4px 0px 3px 0 rgba(0, 0, 0, 0.25);
  background: #cccccc;
}
.schedule-sw-experiment {
  width: 150px;
  height: 60px;
  margin-bottom: 2px;
  background: #f5f5f5;
}
.schedule-sw-experiment:last-child {
  margin-bottom: 0 !important;
}
.schedule-sw-timeline-body {
  position: relative;
  overflow: hidden;
  margin-left: 150px;
  background: #f5f5f5;
}
.schedule-sw-scroll {
  position: relative;
}
.schedule-sw-timeline-border-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  -webkit-box-shadow: -4px 0px 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -4px 0px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: -4px 0px 3px 0 rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
}
.schedule-sw-timelines {
  margin-right: 10px;
  background: #f4f4f4;
}
.schedule-sw-timeline {
  position: relative;
  overflow: hidden;
  height: 60px;
  margin-bottom: 2px;
  background: #fafafa;
}
.schedule-sw-timeline:last-child {
  margin-bottom: 0 !important;
}
.schedule-sw-visit {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: inset 1px 0 0 0 #fafafa;
  -moz-box-shadow: inset 1px 0 0 0 #fafafa;
  box-shadow: inset 1px 0 0 0 #fafafa;
  background: #448fba;
}
.schedule-sw-time-marker {
  position: absolute;
  width: 2px;
  bottom: 0;
  top: 0;
  background: #eda023;
}
