.schedule-bl {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.schedule-bl-footer {
  clear: both;
}
.schedule-bl-calendar {
  position: relative;
  margin-left: 300px;
  background: #00ff66;
}
.schedule-bl-calendar-header {
  height: 50px;
  background: #0078ff;
}
.schedule-bl-calendar-weekdays {
  position: relative;
  height: 50px;
  background: #d300ff;
}
.schedule-bl-calendar-weekdays-spacer {
  position: relative;
  float: left;
  height: 100%;
  width: 50px;
  background: #ffe16d;
}
.schedule-bl-calendar-weekdays-days {
  position: relative;
  margin-left: 50px;
  margin-right: 10px;
  height: 100%;
  background: #7ab4ff;
}
.schedule-bl-calendar-weekdays-day {
  position: relative;
  float: left;
  text-align: center;
}
.schedule-bl-calendar-row {
  position: relative;
  overflow: hidden;
}
.schedule-bl-calendar-row-labels {
  position: relative;
  float: left;
  width: 50px;
  background: #a59dff;
}
.schedule-bl-calendar-row-timelines {
  position: relative;
  margin-left: 50px;
  margin-right: 10px;
  background: #ff91c2;
}
.schedule-bl-calendar-row-label-header {
  position: relative;
  height: 50px;
  background: #02e9ff;
}
.schedule-bl-calendar-row-label-experiment {
  position: relative;
  height: 50px;
  background: #b5ff80;
}
.schedule-bl-calendar-row-timeline-header {
  height: 50px;
}
.schedule-bl-calendar-row-timeline-header-months {
  position: relative;
  height: 50%;
  background: #f386ff;
}
.schedule-bl-calendar-row-timeline-header-month {
  position: relative;
  float: left;
  text-align: left;
}
.schedule-bl-calendar-row-timeline-header-days {
  position: relative;
  height: 50%;
  background: #ff6c8e;
}
.schedule-bl-calendar-row-timeline-header-day {
  position: relative;
  float: left;
  text-align: center;
}
.schedule-bl-calendar-row-timeline-experiments {
  background: #ffc267;
}
.schedule-bl-calendar-row-timeline-experiment {
  position: relative;
  height: 50px;
}
.schedule-bl-calendar-row-timeline-visits {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: #e3ff60;
}
.schedule-bl-calendar-row-timeline-visit {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 1px 0 0 0 #fafafa;
  -moz-box-shadow: inset 1px 0 0 0 #fafafa;
  box-shadow: inset 1px 0 0 0 #fafafa;
  background: #448fba;
}
.schedule-bl-calendar-row-time-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #eda023;
}
.schedule-bl-calendar-row-border {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10px;
  background: #a4baff;
}
.schedule-bl-calendar-footer {
  height: 20px;
  background: #ff00c5;
}
.schedule-bl-calendar-footer-spacer {
  position: relative;
  float: left;
  height: 100%;
  width: 50px;
  background: #c6b6ff;
}
.schedule-bl-calendar-footer-content {
  margin-left: 50px;
  height: 100%;
  background: #b8dcff;
}
.schedule-bl-toolbox {
  position: absolute;
  top: 0;
  bottom: 0;
  float: left;
  width: 300px;
  background: #ff6c00;
}
