.schedule-bl-container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.schedule-bl-allocations-container {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  background: #ff6c00;
}
.schedule-bl-calendar-container {
  position: relative;
  margin-left: 300px;
  background: #00ff66;
}
.schedule-bl-calendar-header {
  position: relative;
  height: 50px;
  background: #d300ff;
}
.schedule-bl-calendar-footer {
  height: 20px;
  background: #ff00c5;
}
.schedule-bl-footer {
  clear: both;
}
.schedule-bl-toolbar {
  height: 50px;
  background: #0078ff;
}
