.row-widget-container {
  width: 100%;
}
.row-widget-header {
  height: 50px;
  background: #aa0000;
}
.row-widget-body {
  background: #0000aa;
}
.row-widget-footer {
  height: 10px;
  background: #00aaaa;
}
