<div class="schedule-bl-container">
    <div class="schedule-bl-allocations-container"></div>
    <div class="schedule-bl-calendar-container">
        <div class="schedule-bl-toolbar">
            <div class="schedule-bl-calendar-header"></div>
            <div class="schedule-bl-calendar-weeks-row">
                <div class="schedule-bl-weeks-dates">
                    <div class="schedule-bl-weeks-dates-spacer"></div>
                    <ul class="schedule-bl-weeks-dates-months"></ul>
                    <ul class="schedule-bl-weeks-dates-days"></ul>
                </div>
                <div class="schedule-bl-weeks-experiments">
                    <div class="schedule-bl-weeks-experiment"></div>
                    <div class="schedule-bl-weeks-timeline"></div>
                </div>
            </div>
            <div class="schedule-bl-calendar-footer"></div>
        </div>
    </div>
    <div class="schedule-bl-footer"></div>
</div>