<div id="schedule-block-widget" class="schedule-bl">
    <div class="schedule-bl-toolbox">Toolbox</div>
    <div class="schedule-bl-calendar">
        <div class="schedule-bl-calendar-header"></div>
        <div class="schedule-bl-calendar-weekdays">
            <div class="schedule-bl-calendar-weekdays-spacer"></div>
            <div class="schedule-bl-calendar-weekdays-days" data-bind="foreach: weekDayNames">
                <div class="schedule-bl-calendar-weekdays-day" data-bind="text: weekDayName, dayWidth"></div>
            </div>
            <div class="schedule-bl-calendar-row-border"></div>
        </div>
        <div class="schedule-bl-calendar-rows" data-bind="foreach: rows">
            <div class="schedule-bl-calendar-row">
                <div class="schedule-bl-calendar-row-header">
                    <div class="schedule-bl-calendar-row-header-spacer"></div>
                    <div class="schedule-bl-calendar-row-header-content">
                        <div class="schedule-bl-calendar-row-header-months"></div>
                        <div class="schedule-bl-calendar-row-header-days" data-bind="foreach: days">
                            <div class="schedule-bl-calendar-row-header-day" data-bind="date: day, format: 'DD', dayWidth"></div>
                        </div>
                    </div>
                </div>
                <div class="schedule-bl-calendar-experiments">
                    <div class="schedule-bl-calendar-experiment">
                        <div class="schedule-bl-calendar-experiment-label"></div>
                        <div class="schedule-bl-calendar-experiment-timeline"></div>
                    </div>
                </div>
                <div class="schedule-bl-calendar-row-border"></div>
            </div>
        </div>
        <div class="schedule-bl-calendar-footer"></div>
    </div>
    <div class="schedule-bl-footer"></div>
</div>