
<div class="schedule-sw-container">
    <div class="schedule-sw-header">
        <div class="schedule-sw-header-menu" data-bind="click: test"></div>
        <div class="schedule-sw-header-timeline"></div>
    </div>
    <div class="schedule-sw-body">
        <div class="schedule-sw-experiments" data-bind="foreach: experiments">
            <div class="schedule-sw-experiment" data-bind="text: shortname"></div>
        </div>
        <div class="schedule-sw-timeline-body">
            <div class="schedule-sw-scroll" data-bind="scrollSource, scrollTarget">
                <div class="schedule-sw-timelines" data-bind="foreach: experiments">
                    <div class="schedule-sw-timeline" data-bind="foreach: visits">
                        <div class="schedule-sw-visit" data-bind="visitPosition"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedule-sw-timeline-border-right"></div>
    </div>
    <div class="schedule-sw-footer"></div>
    <div class="schedule-sw-time-marker" data-bind="timeMarkerPosition, scrollTarget"></div>
</div>
