
<div class="schedule-sw-container">
    <div class="schedule-sw-header">
        <div class="schedule-sw-header-menu"></div>
        <div class="schedule-sw-header-timeline"></div>
    </div>
    <div class="schedule-sw-body">
        <div class="schedule-sw-experiments">
            <div class="schedule-sw-experiment"></div>
            <div class="schedule-sw-experiment"></div>
        </div>
        <div class="schedule-sw-scroll">
            <div class="schedule-sw-scroll-left"></div>
            <div class="schedule-sw-timelines">
                <div class="schedule-sw-timeline">
                    <div class="schedule-sw-visit" style="left:-10px; width: 122px;"></div>
                    <div class="schedule-sw-visit" style="left:114px; width: 222px;"></div>
                    <div class="schedule-sw-visit" style="left:338px; width: 100px;"></div>
                </div>
                <div class="schedule-sw-timeline"></div>
            </div>
            <div class="schedule-sw-scroll-right"></div>
        </div>
    </div>
    <div class="schedule-sw-footer"></div>
    <div class="schedule-sw-time-marker" style="left: 100px;"></div>
</div>
