
<div class="schedule-sw-container">
    <div class="schedule-sw-header">
        <div class="schedule-sw-header-menu"></div>
        <div class="schedule-sw-header-timeline-body">
            <div data-bind="scrollTarget, scrollWidth">
                <ul class="schedule-sw-header-list" data-bind="foreach: headerTimes">
                    <li class="schedule-sw-header-times-item" data-bind="headerTimePosition">
                        <span class="schedule-sw-header-dates" data-bind="date: headerDate, format: 'DD/MM/YYYY', visible: headerDate.hours()==0"></span>
                        <span class="schedule-sw-header-dates" data-bind="hidden: headerDate.hours()==0">&nbsp;</span>
                        <span class="schedule-sw-header-times" data-bind="date: headerDate, format: 'hh:mm&nbsp;A'"></span>
                    </li>
                </ul>
            </div>
            <div class="schedule-sw-header-timline-horzline"></div>
            <div class="schedule-sw-time-marker" data-bind="timeMarkerPosition, scrollTarget"></div>
        </div>
    </div>
    <div class="schedule-sw-body">
        <div class="schedule-sw-experiments" data-bind="foreach: experiments">
            <div class="schedule-sw-experiment" data-bind="text: shortname"></div>
        </div>
        <div class="schedule-sw-timeline-body">
            <div class="schedule-sw-scroll" data-bind="scrollSource, scrollTarget, scrollWidth, event: { mousewheel: zoomWheel, DOMMouseScroll: zoomWheel }">
                <div class="schedule-sw-timelines" data-bind="foreach: experiments">
                    <div class="schedule-sw-timeline" data-bind="foreach: visits">
                        <div class="schedule-sw-visit" data-bind="visitPosition"></div>
                    </div>
                </div>
                <div class="schedule-sw-time-marker" data-bind="timeMarkerPosition"></div>
            </div>
        </div>
        <div class="schedule-sw-timeline-border-right"></div>
    </div>
    <div class="schedule-sw-footer"></div>
</div>
