.schedule-bl-calendar {
  position: relative;
  margin-left: @toolbox-width;
  background: @colour-calendar-background;
}

.schedule-bl-calendar-header{
  height: @calendar-header-height;
  background: @colour-calendar-header-background;
}

.schedule-bl-calendar-weekdays {
  position: relative;
  height: @calendar-weekdays-height;
  background: @colour-calendar-weekdays-background;
}

.schedule-bl-calendar-weekdays-spacer {
  position: relative;
  float: left;
  height: 100%;
  width: @calendar-experiment-label-width;
  background: @colour-calendar-weekdays-spacer-background;
}

.schedule-bl-calendar-weekdays-days {
  position: relative;
  margin-left: @calendar-experiment-label-width;
  margin-right: @calendar-row-border-width;
  height: 100%;
  background: @colour-calendar-weekdays-days-background;
}

.schedule-bl-calendar-weekdays-day {
  position: relative;
  float: left;
  text-align: center;
}

.schedule-bl-calendar-row {
  position: relative;
}

.schedule-bl-calendar-row-header {
  position: relative;
  height: @calendar-row-header-height;
  margin-right: @calendar-row-border-width;
}

.schedule-bl-calendar-row-header-spacer {
  position: relative;
  float: left;
  height: 100%;
  width: @calendar-experiment-label-width;
  background: @colour-calendar-row-header-spacer-background;
}

.schedule-bl-calendar-row-header-content {
  position: relative;
  margin-left: @calendar-experiment-label-width;
  height: 100%;
}

.schedule-bl-calendar-row-header-months {
  position: relative;
  height: 50%;
  background: @colour-calendar-row-header-months-background;
}

.schedule-bl-calendar-row-header-month {
  position: relative;
  float: left;
  text-align: left;
}

.schedule-bl-calendar-row-header-days {
  position: relative;
  height: 50%;
  background: @colour-calendar-row-header-days-background;
}

.schedule-bl-calendar-row-header-day {
  position: relative;
  float: left;
  text-align: center;
}

.schedule-bl-calendar-experiments {
  margin-right: @calendar-row-border-width;
}

.schedule-bl-calendar-experiment {
  position: relative;
  height: @calendar-experiment-height;
}

.schedule-bl-calendar-experiment-label {
  position: relative;
  float: left;
  height: 100%;
  width: @calendar-experiment-label-width;
  background: @colour-calendar-experiment-label-background;
}

.schedule-bl-calendar-experiment-timeline {
  position: relative;
  overflow: hidden;
  margin-left: @calendar-experiment-label-width;
  height: 100%;
  background: @colour-calendar-experiment-timeline-background;
}

.schedule-bl-calendar-visit {
  position: absolute;
  top: 0;
  bottom: 0;
  .box-sizing;
  .inner-shadow (1px, 0, 0, 0, @colour-calendar-visit-border-background);
  background: @colour-calendar-visit-background;
}

.schedule-bl-calendar-row-border {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: @calendar-row-border-width;
  background: @colour-calendar-row-border-background;
}

.schedule-bl-calendar-footer {
  height: @calendar-footer-height;
  background: @colour-calendar-footer-background;
}
