//--------------------------------------------
//                 Colours
//--------------------------------------------

// widget
@colour-background: #FFFFFF;

// header
@colour-header-background: #d300ff;

// footer
@colour-footer-background: #ff00c5;

// allocations
@colour-allocations-container-background: #ff6c00;

// calendar
@colour-calendar-container-background: #00ff66;

// toolbar
@colour-toolbar-background: #0078ff;
