//--------------------------------------------
//                 Colours
//--------------------------------------------

// widget
@colour-background: #FFFFFF;

// toolbox
@colour-toolbox-background: #ff6c00;

// calendar
@colour-calendar-background: #00ff66;
@colour-calendar-header-background: #0078ff;
@colour-calendar-weekdays-background: #d300ff;
@colour-calendar-weekdays-spacer-background: #ffe16d;
@colour-calendar-weekdays-days-background: #7ab4ff;
@colour-calendar-row-header-spacer-background: #02e9ff;
@colour-calendar-row-header-months-background: #f386ff;
@colour-calendar-row-header-days-background: #ff6c8e;
@colour-calendar-experiment-label-background: #b5ff80;
@colour-calendar-experiment-timeline-background: #e3ff60;
@colour-calendar-visit-background: #448FBA;
@colour-calendar-visit-border-background: #FAFAFA;
@colour-calendar-row-border-background: #a4baff;
@colour-calendar-footer-background: #ff00c5;
@colour-calendar-time-marker-background: #EDA023;
