//--------------------------------------------
//             Container sizes
//--------------------------------------------

// containers
@schedule-container-width: 80%;
@schedule-header-height: 50px;
@schedule-footer-height: 20px;

// allocation
@allocations-container-width: 300px;

// toolbar
@toolbar-height: 50px;