//--------------------------------------------
//             Container sizes
//--------------------------------------------

// main schedule
@schedule-width: 80%;

// toolbox
@toolbox-width: 300px;

// calendar
@calendar-header-height: 50px;
@calendar-weekdays-height: 50px;
@calendar-row-label-width: 50px;
@calendar-row-label-header-height: 50px;
@calendar-row-timeline-experiment-height: 50px;
@calendar-row-time-marker-width: 2px;
@calendar-row-border-width: 10px;
@calendar-footer-height: 20px;
