//--------------------------------------------
//                 Colours
//--------------------------------------------

// background
@colour-background: #FFFFFF;
@colour-background-header: #AA0000;
@colour-background-body: #0000AA;
@colour-background-experiments: #0047d3;
@colour-background-footer: #00AAAA;
