//--------------------------------------------
//                 Colours
//--------------------------------------------

// widget
@colour-background: #FFFFFF;

// header
@colour-background-header: #AA0000;
@colour-background-header-menu: #00aa45;
@colour-background-header-timeline-body: #00ccaa;
@colour-background-header-timeline-horzline: #0000ff;
@colour-background-header-timeline-vertline: #ff0000;

// body
@colour-background-body: #0000AA;

// experiments column
@colour-background-experiments: #0047d3;
@colour-background-experiment: #aa6400;

// footer
@colour-background-footer: #00AAAA;

// scroll
@colour-background-scroll: #56227d;
@colour-background-scroll-border: #56dd7d;

// timelines
@colour-background-timelines: #ac84cc;
@colour-background-timeline: #ff84cc;

// visits
@colour-background-visit: #ffff00;

// overlays
@colour-background-time-marker: #000000;