
.schedule-sw-container {
  position: relative;
  width: @schedule-container-width;
  margin-left: auto;
  margin-right: auto;
}

.schedule-sw-body {
  position: relative;
  width: 100%;
  background: @colour-background-body;
}

.schedule-sw-footer {
  clear: both;
  width: 100%;
  border-top: solid 2px @colour-background-footer-border;
  height: @schedule-footer-height;
  background: @colour-background-footer;
}
