

.schedule-sw-header {
  position: relative;
  width: 100%;
  height: @schedule-header-height;
  background: @colour-background-header;
}

.schedule-sw-header-menu {
  float: left;
  width: @schedule-experiment-width;
  height: @schedule-header-height;
  background: @colour-background-header-menu;
}

.schedule-sw-header-timeline {
  overflow: hidden;
  margin-left: @schedule-experiment-width;
  margin-right: @schedule-scroll-border-width;
  height: @schedule-header-height;
  background: @colour-background-header-timeline;
}

.schedule-sw-header-dates {
  height: 40%;
  background: @colour-background-header-dates;
}

.schedule-sw-header-scale {
  height: 20%;
  background: @colour-background-header-scale;
}

.schedule-sw-header-times {
  height: 40%;
  background: @colour-background-header-times;
}
