//--------------------------------------------
//                   Sizes
//--------------------------------------------

// containers
@schedule-container-width: 80%;
@schedule-header-height: 50px;
@schedule-footer-height: 10px;
@schedule-experiment-width: 100px;
@schedule-experiment-height: 40px;
@schedule-scroll-width: 50px;

// timelines
@schedule-timeline-border: 4px;

// overlays
@schedule-time-marker-width: 2px;
