.schedule-sw-experiments {
  position: absolute;
  left: 0;
  top: 0;
  width: @schedule-experiment-width;
  .drop-shadow (4px, 0px, 3px, 0, 0.25);
  background: @colour-background-experiments;
}

.schedule-sw-experiment {
  width: @schedule-experiment-width;
  height: @schedule-experiment-height;
  margin-bottom: @schedule-timeline-border;
  background: @colour-background-experiment;
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.schedule-sw-timeline-body{
  position: relative;
  overflow: hidden;
  margin-left: @schedule-experiment-width;
  background: @colour-background-scroll;
}

.schedule-sw-scroll {
  position: relative;
}

.schedule-sw-timeline-border-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: @schedule-scroll-border-width;
  .drop-shadow (-4px, 0px, 3px, 0, 0.25);
  background: @colour-background-scroll-border;
}

.schedule-sw-timelines {
  margin-right: @schedule-scroll-border-width;
  background: @colour-background-timelines;
}

.schedule-sw-timeline {
  position: relative;
  overflow: hidden;
  height: @schedule-experiment-height;
  margin-bottom: @schedule-timeline-border;
  background: @colour-background-timeline;
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.schedule-sw-visit {
  position: absolute;
  .box-sizing;
  top: 0;
  bottom: 0;
  .inner-shadow (1px, 0, 0, 0, @colour-background-visit-border);
  background: @colour-background-visit;
}